---
import Icon from '@components/ui/icon.astro';

import PhotoSommaireReference from '@static/photo-sommaire.avif';
---

<section class="relative w-full mt-20">
    <div class="flex flex-col lg:flex-row items-center">
        <img class="w-full lg:w-[50vw]" src={PhotoSommaireReference} width="964" height="536" alt="" />
        <div class="flex flex-col pl-4 lg:px-12 lg:w-[50vw] lg:h-[25vw] py-12 lg:py-0 bg-black text-white justify-center">
            <div class="flex flex-row">
                <h1 class="inline-flex gap-1 font-bold text-5xl mr-2">
                    <span>#WEARE</span>
                    <span class="sr-only">LOG</span>
                    <Icon className="w-auto h-16 fill-red-log" name="log" />
                </h1>
                <Icon className="hidden md:block h-12 ml-6 fill-white" name="computer" />
            </div>
            <p class="font-bold text-2xl mt-8">Pure player du Conseil et de l'Expertise technique en technologies Cloud et culture DevOps</p>
        </div>
    </div>
</section>