---
import Carousel from "@components/ui/carousel.astro";
import LoggerCard from "@components/ui/logger_card.astro";
---

<section class="relative w-full text-center">
    <div class="flex flex-row gap-12 justify-center py-8">
        <h1 class="font-bold text-4xl uppercase tracking-wide my-8">Notre équipe de loggers</h1>
    </div>
    <Carousel arrow={true}>
        <LoggerCard name="Prénom" position="Fonction"/>
        <LoggerCard name="Prénom" position="Fonction"/>
        <LoggerCard name="Prénom" position="Fonction"/>
        <LoggerCard name="Prénom" position="Fonction"/>
    </Carousel>
</section>