---
import Icon from '@components/ui/icon.astro';

import HommeCourseOrdinateurReference from '@static/homme-course-ordinateur.avif';
---

<section class="relative w-full z-0">
    <div class="absolute h-[400px] lg:h-[530px] top-[280px] lg:top-auto lg:bottom-0 left-[calc(50vw-170px)] lg:left-[calc(25vw-205px)] z-10">
        <img class="h-full w-auto" src={HommeCourseOrdinateurReference} width="515" height="606" alt="" />
    </div>
    <div class="flex flex-col lg:flex-row">
        <div class="flex lg:w-[33vw] justify-center lg:justify-end bg-black text-white">
            <div class="flex flex-col gap-5 mt-10 mb-56 lg:mt-24 lg:mr-[4vw] text-5xl font-extrabold">
                <h1>L'ADN</h1>
                <span class="sr-only">LOG</span>
                <Icon className="w-36 h-20 fill-blue-log" name="log" />
            </div>
        </div>
        <div class="flex w-full bg-gray-log text-black">
            <div class="flex flex-col lg:max-w-none gap-8 px-4 pt-64 pb-16 lg:pl-[15vw] lg:pr-[17vw] lg:py-24 z-20 md:text-center lg:text-left">
                <div class="flex flex-col gap-4 md:items-center lg:items-start">
                    <h1 class="font-bold text-3xl">Les expertises</h1>
                    <p class="text-normal text-xl lg:text-2xl">Accélérer et sécuriser la transformation des organisations en les guidant dans l'adoption des technologies Cloud et de la philosophie DevOps : Audits, Stratégie, Roadmap ? Conception, Architecture ? Gestion de projets techniques ? Automatisation, CI/CD ? C’est le métier de LOG !</p>
                    <a class="bg-red-log text-white text-xl lg:text-2xl font-bold rounded-[12px] px-4 py-2 w-fit" href="/expertise">Découvrir nos expertises</a>
                </div>
                <div class="flex flex-col gap-4 md:items-center lg:items-start">
                    <h1 class="font-bold text-3xl">Les métiers</h1>
                    <p class="text-normal text-xl lg:text-2xl">Nos stacks technologiques ? Les technologies Cloud et l’écosystème DevOps ! Cloud Providers, Hyperscalers, Orchestration, Conteneurisation, Automatisation. C’est le quotidien de LOG !</p>
                    <a class="bg-blue-log text-white text-xl lg:text-2xl font-bold rounded-[12px] px-4 py-2 w-fit" href="/metiers">Découvrir nos métiers</a>
                </div>
                <div class="flex flex-col gap-4 md:items-center lg:items-start">
                    <h1 class="font-bold text-3xl">L'engagement</h1>
                    <p class="text-normal text-xl lg:text-2xl">Aujourd'hui, il est impensable de ne plus tenir compte des impacts, bien réels, du numérique sur notre environnement et sur nos sociétés... Accompagner nos clients vers un Numérique Responsable, c'est l'un des pilliers fondateurs de LOG !</p>
                    <a class="bg-green-log text-white text-xl lg:text-2xl font-bold rounded-[12px] px-4 py-2 w-fit" href="/engagements">Découvrir notre engagement</a>
                </div>
            </div>
        </div>
    </div>
</section>