---
import Icon from '@components/ui/icon.astro';
import Number from '@components/ui/number.astro';
import SectionTitle from '@components/ui/section_title.astro';
---

<section class="relative max-w-7xl mx-auto text-center">
    <SectionTitle column={true} logSvg={true}>
        <h1 class="inline-flex gap-4">
            <span class="sr-only">LOG</span>
            <Icon className="h-12" name="log" />
        </h1>
        <h1>en quelques chiffres</h1>
    </SectionTitle>

    <div class="flex flex-col lg:flex-row justify-center gap-6">
        <Number number="4" description="Années d'existence" />
        <Number number="20+" description="Collaborateurs" />
        <Number number="> 2M €" description="Chiffre d'Affaires" />
        <Number number="30 %" description="Croissance annuelle" />
    </div>
</section>