---
interface Props {
    title: string;
    summary: string;
    publish_date: string;
    href: string;
}
const { title, summary, publish_date, href }: Props = Astro.props;
---

<div class="overflow-hidden flex flex-col border-blue-log border-2 rounded-5xl bg-blue-log max-w-md">
    <a href={href}>
        <div class="flex flex-col text-white px-2 py-1">
            <div class="flex flex-row items-center gap-2">
                <svg class="h-28" viewBox="0 0 303.75 289.48"><path d="m212.63,72.31c-10.62,0-19.26,8.64-19.26,19.26,0,9.42,6.75,17.4,16.05,18.97l1.18.2v16.7h-57.95v-16.7l1.18-.2c9.3-1.57,16.05-9.55,16.05-18.97,0-10.62-8.64-19.26-19.26-19.26s-19.26,8.64-19.26,19.26c0,9.42,6.75,17.4,16.05,18.97l1.18.2v16.7h-57.95v-16.7l1.18-.2c9.3-1.57,16.05-9.55,16.05-18.97,0-10.62-8.64-19.26-19.26-19.26s-19.26,8.64-19.26,19.26c0,9.42,6.75,17.4,16.05,18.97l1.18.2v18.73c0,1.12.91,2.04,2.04,2.04h59.98v16.6h-42.76c-4.92,0-8.93,4-8.93,8.93v13.78c0,2.19.81,4.3,2.29,5.95l.84.94-.84.94c-1.48,1.65-2.29,3.76-2.29,5.95v13.78c0,2.19.81,4.3,2.29,5.95l.84.94-.84.94c-1.48,1.65-2.29,3.76-2.29,5.95v13.78c0,4.92,4,8.93,8.93,8.93h89.58c4.92,0,8.93-4,8.93-8.93v-13.78c0-2.19-.82-4.3-2.29-5.95l-.85-.94.85-.94c1.48-1.65,2.29-3.76,2.29-5.95v-13.78c0-2.19-.82-4.3-2.29-5.95l-.85-.94.85-.94c1.48-1.65,2.29-3.76,2.29-5.95v-13.78c0-4.92-4-8.93-8.93-8.93h-42.76v-16.6h59.98c1.12,0,2.04-.91,2.04-2.04v-18.73l1.18-.2c9.3-1.57,16.05-9.55,16.05-18.97,0-10.62-8.64-19.26-19.26-19.26Zm-139.23,19.26c0-8.38,6.82-15.19,15.19-15.19s15.19,6.82,15.19,15.19-6.81,15.19-15.19,15.19-15.19-6.82-15.19-15.19Zm126.86,134.38c0,2.68-2.18,4.86-4.86,4.86h-89.58c-2.68,0-4.86-2.18-4.86-4.86v-13.78c0-2.68,2.18-4.86,4.86-4.86h89.58c2.68,0,4.86,2.18,4.86,4.86v13.78Zm0-27.56c0,2.68-2.18,4.86-4.86,4.86h-89.58c-2.68,0-4.86-2.18-4.86-4.86v-13.78c0-2.68,2.18-4.86,4.86-4.86h89.58c2.68,0,4.86,2.18,4.86,4.86v13.78Zm-4.86-46.2c2.68,0,4.86,2.18,4.86,4.86v13.78c0,2.68-2.18,4.86-4.86,4.86h-89.58c-2.68,0-4.86-2.18-4.86-4.86v-13.78c0-2.68,2.18-4.86,4.86-4.86h89.58Zm-44.79-45.42c-8.38,0-15.19-6.82-15.19-15.19s6.82-15.19,15.19-15.19,15.19,6.82,15.19,15.19-6.81,15.19-15.19,15.19Zm62.02,0c-8.38,0-15.19-6.82-15.19-15.19s6.81-15.19,15.19-15.19,15.19,6.82,15.19,15.19-6.82,15.19-15.19,15.19Z"/><path d="M209.19 88.12h6.89v6.89h-6.89z" fill="#fff042"/><path d="M147.17 88.12h6.89v6.89h-6.89z" fill="#e94266"/><path d="M136.83 160.48h6.89v6.89h-6.89zm-13.78 0h6.89v6.89h-6.89z"/><path d="M109.26 160.48h6.89v6.89h-6.89z" fill="#fff042"/><path d="M136.83 188.05h6.89v6.89h-6.89z" fill="#e94266"/><path d="M123.05 188.05h6.89v6.89h-6.89zm-13.79 0h6.89v6.89h-6.89zm27.57 27.56h6.89v6.89h-6.89z"/><path d="M123.05 215.61h6.89v6.89h-6.89z" fill="#71c8e2"/><path d="M109.26 215.61h6.89v6.89h-6.89z"/><path d="M85.15 88.12h6.89v6.89h-6.89z" fill="#71c8e2"/><path d="M167.84 160.48h24.12v6.89h-24.12z" fill="#e94266"/><path d="M167.84 188.05h24.12v6.89h-24.12z" fill="#71c8e2"/><path d="M167.84 215.61h24.12v6.89h-24.12z" fill="#fff042"/></svg>
                <h1 class="font-bold text-2xl md:text-3xl">{title}</h1>
            </div>
            <p class="text-sm italic text-center">Publié le <span class="font-bold">{publish_date}</span></p>
        </div>
        <div class="flex flex-col items-center gap-10 bg-white py-10">
            <p class="text-lg md:text-xl max-w-[80%]">{summary}</p>
            <button class="bg-blue-log text-white font-bold text-xl md:text-2xl px-4 py-1.5">En savoir plus</button>
        </div>
    </a>
</div>