---
import BaseLayout from "@layouts/BaseLayout.astro";
import Banner from "@components/ui/banner.astro";
import Icon from "@components/ui/icon.astro";
import { BackgroundColor, TextColor } from "@libs/types";

import { Image } from "astro:assets";
import EcosystemeTechnologiqueReference from "@assets/expertise-technos.webp";
import DatacenterReference from "@assets/expertise-1.webp";
---

<BaseLayout title="Notre expertise" description="Les expertises de LOG">
    <Banner
        title="Nos expertises"
        subtitle="Nos stacks technologiques ? Les technologies Cloud et l’écosystème DevOps !"
        description="Cloud Providers, Hyperscalers, Orchestration, Conteneurisation, Automatisation. C’est le quotidien de LOG !"
        bgColor={BackgroundColor.RED}
        textColor={TextColor.RED}
        image={DatacenterReference}
    />
    <section class="relative w-full bg-gray-log py-10 px-3">
        <div class="flex flex-col items-center gap-10 max-w-8xl mx-auto">
            <Icon className="lg:hidden w-auto h-16 rotate-90" name="rocket" />
            <h1 class="inline-flex items-center gap-8 font-bold text-3xl md:text-4xl uppercase tracking-wide">
                Notre écosystème technologique
                <Icon className="hidden lg:block w-auto h-16 rotate-90" name="rocket" />
            </h1>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-20 items-center">
                <ul class="flex flex-col gap-2 list list-[square] marker:text-4xl md:marker:text-3xl text-xl md:text-2xl tracking-tight">
                    Le terrain de jeu de Log&nbsp;: l'innovation et l'automatisation !
                    <li class="ml-8">
                        Cloud computing
                    </li>
                    <li class="ml-8">
                        Culture DevOps
                    </li>
                    <li class="ml-8">
                        Technologies adhérentes au Cloud&nbsp;: Réseaux, Sécurité et Data
                    </li>
                </ul>
                <Image class="w-[500px]" src={EcosystemeTechnologiqueReference} alt="Technologies Cloud" />
            </div>
        </div>
    </section>
</BaseLayout>