---
import Footer from '@components/ui/footer.astro';
import Header from '@components/ui/header.astro';

interface Props {
    title: string;
    description: string;
}
const { title, description } = Astro.props as Props;
---

<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{title}</title>
        <meta name="description" content={description} />
        <link rel="icon" href="/favicon.svg" type="image/svg+xml"> {/* Modern browsers */}
        <link rel="icon" href="/favicon.ico" type="image/x-icon"> {/* Fallback for older browsers */}
        <link rel="sitemap" href="/sitemap-index.html" />
    </head>
    <body class="text-black bg-white">
        <Header />
        <div class={`flex flex-col ${title !== "Le blog" && "space-y-20"}`}>
            <slot />
            <div class="grow invisible"></div>
            <Footer />
        </div>
    </body>
</html>