---
import BaseLayout from "@layouts/BaseLayout.astro";
import Icon from "@components/ui/icon.astro";
import TitleBanner from "@components/ui/title_banner.astro";

interface Props {
    title: string;
    email: string;
    description: string;
}
const { title, email, description } = Astro.props as Props;
---

<BaseLayout title="Offre d'emploi - LOG" description={description}>
    <TitleBanner title={title}></TitleBanner>
    <div class="flex flex-col gap-24 max-w-[88rem] mx-auto mb-12 px-4">
        <div class="flex flex-col xl:flex-row items-center xl:items-start xl:justify-between gap-10">
            <slot name="description" />
            <slot name="position" />
        </div>
        <div class="flex flex-col items-center max-w-3xl xl:max-w-none">
            <div class="flex flex-row gap-8 items-center mb-3">
                <h2 class="font-bold text-2xl md:text-3xl">
                    Entreprise
                </h2>
                <Icon className="w-auto h-12" name="computer" />
            </div>
            <p class="text-xl md:text-2xl">
                LOG est un pur player du conseil et de l'expertise en technologies Cloud et culture DevOps.
                <br /><br />
                Créée en 2019 par trois experts Cloud et DevOps, Log est une société dynamique avec une croissance de plus de 50% par an.
            </p>
            <ul class="text-xl md:text-2xl list-inside list-[disclosure-closed] mb-12">
                <li class="my-6">
                    Notre mission ? Porter l'innovation au cœur des SI des grandes organisations en les guidant dans l'adoption des technologies Cloud et de la culture DevOps
                </li>
                <li class="my-6">
                    Nos savoirs-faires ? Une capacité d'accompagnement de bout en bout des projets de transformation : choix des stratégies, conduite des transformations, mise à l'échelle et accélération
                </li>
                <li class="my-6">
                    Nos stacks technologiques ? Cloud & DevOps (AWS, GCP, MS Azure, Kubernetes, Docker, Ansible, Terraform, Jenkins, Puppet, Chef, Packer, Gitlab, YAML, Python)
                </li>
                <li class="my-6">
                    Nos valeurs ? Expertise, Sur-mesure, Collaboration et Responsabilité
                </li>
            </ul>
            <p class="text-xl md:text-2xl font-bold mb-12">
                Pourquoi nous rejoindre ?
            </p>
            <p class="text-xl md:text-2xl mb-12">
                Chez LOG, nous sommes flexibles et agiles, et cela commence dès le processus de recrutement qui ne dépasse pas 15 jours !<br /><br />
                Pour votre onboarding, nous prévoyons une véritable période d'intégration (entre 10 jours et 5 semaines selon le profil) au cours de laquelle vous ferez connaissance avec l'équipe, la SI interne et les méthodes de travail LOG.<br /><br />
                Une fois en mission, vous aurez deux entretiens par mois avec un manager coach (un déjeuner + une visio), des formations ainsi que des certifications illimitées (intégralement prises en charge par LOG), des meetups et des afterworks tous les mois avec l'équipe, des primes de cooptation allant de 2000€ à 3000€.<br /><br />
                Le télétravail fait partie de la culture d'entreprise. Vous bénéficierez également d'une excellente mutuelle, de tickets restaurant à 9€, de RTT.
            </p>
            <div class="text-center">
                <a class="bg-blue-log rounded-xl text-center font-extrabold text-white text-2xl md:text-3xl px-28 py-3" href={`mailto:${email}`}>Postulez</a>
            </div>
        </div>
    </div>
</BaseLayout>