---
import BaseLayout from "./BaseLayout.astro";

import Description from "@/components/job/description.astro";
import Position from "@/components/job/position.astro";
import TitleBanner from "@/components/ui/title_banner.astro";

interface Props {
    frontmatter: any
}
const { frontmatter }: Props = Astro.props;
---

<BaseLayout title="Offre d'emploi - LOG">
    <TitleBanner title={frontmatter.title}></TitleBanner>
    <div class="flex flex-col gap-24 max-w-[88rem] mx-auto mb-12">
        <div class="flex flex-col lg:flex-row items-center gap-18">
            <Description>
                <p class="text-2xl mb-16" slot="description">
                    Piloter les projets de transformation Cloud de nos clients et favoriser l'adoption de la culture DevOps au sein de leurs organisations
                    <br /><br />
                    Auditer les environnements Legacy pour définir leur évolution vers le Cloud
                    <br /><br />
                    Conduire des RPF et sélecionner des partenaires
                    <br /><br />
                    Piloter la mise en place des plateformes Cloud (public, privé, hybride)
                    <br /><br />
                    Bâtir les plans de migraion, planifier et piloter les migrations applicatives
                    <br /><br />
                    Favoriser le développement de l'accélération des bonnes pratiques Cloud et DevOps
                </p>
                <p class="text-2xl" slot="profile">
                    Diplômé(e) de formation Ingénieur (BAC +5), dans le domaine de la gestion de projet, les infrastructures IT et des technologies Cloud
                    <br /><br />
                    Bonne connaissance de la gestion de projet IT, notamment migration d'environnements
                    <br /><br />
                    Bonne connaissance des infrastructures IT (Système, Stockage, Réseau, Virtualisation)
                    <br /><br />
                    Sensibilité à la culture DevOps : automatisation, orchestration, conteneurisation, pipeline CI/CD...
                    <br /><br />
                    Tempérament rigoureux, capacité à prendre du recul et à être force de proposition
                    <br /><br />
                    Esprit d'équipe, très bon relationnel et excellent rédactionnel
                    <br /><br />
                    Bon niveau d'anglais indispensable
                </p>
            </Description>
            <Position
                salary="50 - 80 k€ brut annuel"
                starting_date={new Date(2022, 9, 12)}
                experience="Minimum 3 ans"
                job="Chef de projet digital"
                job_status="Cadre du secteur privé"
                travel_area="Régionale"
                job_sector="Conseil en systèmes et logiciels informatiques"
                telework="Partiel possible"
                hr="Laetitia BASTIANI"
                hr_email="email@log.consulting"
                hr_phone="+33.0.00.00.00.00"
            />
        </div>
        <div class="flex flex-col items-center px-4 lg:px-0">
            <div class="flex flex-row gap-4 items-center">
                <h2 class="font-bold text-3xl">
                    Entreprise
                </h2>
                <svg class="w-auto h-24" viewBox="0 0 303.75 289.48"><path d="M264.27 198.69h-20.09V78.68c0-5.46-4.44-9.91-9.91-9.91H69.47c-5.46 0-9.91 4.44-9.91 9.91v120.01H39.47a1.5 1.5 0 0 0-1.5 1.5v2.5c0 9.93 8.08 18.01 18.01 18.01h191.79c9.93 0 18.01-8.08 18.01-18.01v-2.5c0-.83-.68-1.5-1.51-1.5zM62.57 78.68a6.91 6.91 0 0 1 6.9-6.9h164.81a6.9 6.9 0 0 1 6.89 6.9l.38 120.01H62.57V78.68zm200.19 124.44c-.23 8.03-6.95 14.57-14.99 14.57H55.98c-7.94 0-14.52-6.21-14.97-14.14l-.11-1.85 19.98-.04.23.03h181.58c.22 0 .44-.05.67-.17l.37-.18 19.1-.03-.05 1.81z"/><g fill="#fff042"><path d="M84.82 90.61h2.74v9.42h5.02l-.27 2.17h-7.49V90.61zm16.67 3.69c.76.85 1.15 2 1.15 3.44s-.38 2.66-1.14 3.5-1.82 1.25-3.18 1.25-2.42-.42-3.18-1.25S94 99.25 94 97.75c0-.95.17-1.78.51-2.48A3.87 3.87 0 0 1 96 93.61c.65-.4 1.42-.59 2.32-.59 1.35 0 2.41.43 3.17 1.28zm-4.37 1.34c-.26.44-.38 1.15-.38 2.12s.13 1.69.38 2.13c.26.44.66.66 1.2.66s.95-.22 1.2-.67.39-1.16.39-2.14-.13-1.66-.39-2.1-.66-.66-1.2-.66-.95.22-1.2.66z"/><use xlink:href="#B"/></g><path d="M117.15 93.71c.34-.35.76-.52 1.25-.52s.9.17 1.24.52c.33.35.5.76.5 1.24s-.17.89-.5 1.23-.75.51-1.24.51-.91-.17-1.25-.51-.51-.75-.51-1.23.17-.89.51-1.24zm0 5.8c.34-.34.76-.51 1.25-.51a1.68 1.68 0 0 1 1.24.51c.33.34.5.74.5 1.21a1.77 1.77 0 0 1-.5 1.25c-.33.35-.75.52-1.24.52s-.91-.17-1.25-.52a1.72 1.72 0 0 1-.51-1.25c0-.49.17-.87.51-1.21zm10.74-4.24c.31.17.64.42 1 .73.26.23.48.41.66.52s.38.17.58.17a1.11 1.11 0 0 0 .79-.31c.23-.21.46-.54.69-1l1.47.65c-.39.86-.82 1.52-1.29 1.97-.47.46-1.05.69-1.74.69-.4 0-.75-.08-1.05-.25s-.63-.41-1.01-.74l-.69-.52c-.18-.11-.37-.17-.56-.17a1.16 1.16 0 0 0-.8.32c-.23.21-.46.54-.69.99l-1.47-.67c.4-.82.83-1.47 1.3-1.94.46-.47 1.04-.7 1.73-.7.41 0 .77.09 1.08.26z"/><path d="M139.29 90.36c1.27.11 2.37.55 3.3 1.32l-1.29 1.35a3.51 3.51 0 0 0-2.01-.82v2.93c1.2.39 2.09.86 2.65 1.4s.84 1.29.84 2.25-.31 1.77-.92 2.43-1.47 1.06-2.58 1.2v2.49h-1.36v-2.44c-.78-.06-1.49-.23-2.14-.52s-1.19-.65-1.64-1.07l1.27-1.47a4.64 4.64 0 0 0 1.19.79c.4.18.84.29 1.32.33v-3.48c-1.19-.4-2.05-.87-2.58-1.41a2.76 2.76 0 0 1-.79-1.99c0-.91.3-1.66.9-2.24s1.42-.93 2.46-1.04v-2.49h1.36v2.48zm-2.1 2.26a1.08 1.08 0 0 0-.26.72c0 .3.06.54.19.73.13.18.4.37.81.56v-2.39c-.32.06-.57.18-.74.38zm2.1 7.86c.69-.16 1.04-.61 1.04-1.37 0-.35-.07-.64-.22-.87-.14-.23-.42-.45-.82-.65v2.89z" fill="#e94266"/><path d="m156.25,90.23l1.02-1.99,3.65,2.23-.72,1.34-3.95-1.57Z" fill="#71c8e2"/><path d="M169.17 100.57c.76 0 1.52-.25 2.27-.74l1.05 1.44c-.43.38-.95.68-1.56.9a5.77 5.77 0 0 1-1.99.33c-.99 0-1.83-.2-2.53-.59-.69-.4-1.21-.95-1.56-1.66s-.53-1.53-.53-2.47.17-1.7.51-2.42a4.06 4.06 0 0 1 1.49-1.71c.65-.42 1.43-.63 2.33-.63.85 0 1.58.18 2.21.54.62.36 1.11.89 1.45 1.57.34.69.51 1.5.51 2.45 0 .37-.02.69-.05.95h-5.75c.17 1.35.88 2.02 2.14 2.02zm-1.66-5.24c-.29.35-.46.89-.52 1.61h3.26c-.02-1.43-.55-2.14-1.59-2.14-.48 0-.86.18-1.15.53zm12.95 4.88c.31-.13.65-.32 1-.56l1.17 1.67c-.42.36-.91.64-1.47.85s-1.17.32-1.82.32c-.95 0-1.77-.2-2.45-.59-.69-.39-1.21-.94-1.58-1.64s-.55-1.52-.55-2.44.19-1.75.57-2.48c.38-.72.92-1.29 1.61-1.71s1.51-.62 2.45-.62c.66 0 1.25.09 1.77.28.52.18 1.01.47 1.47.84l-1.14 1.59c-.65-.45-1.31-.67-1.99-.67-1.33 0-1.99.92-1.99 2.76 0 .93.17 1.59.52 1.98.35.4.83.59 1.46.59.33 0 .66-.06.97-.19zm6.99-6c.75-.79 1.62-1.19 2.61-1.19.78 0 1.38.23 1.81.69.42.46.64 1.12.64 1.97v6.52h-2.64v-5.79c0-.54-.06-.91-.18-1.12s-.35-.32-.67-.32c-.27 0-.53.09-.78.28-.25.18-.51.45-.78.81v6.14h-2.64V89.79l2.64-.27v4.68zm14.41.09c.76.85 1.15 2 1.15 3.44s-.38 2.66-1.14 3.5-1.82 1.25-3.18 1.25-2.42-.42-3.18-1.25-1.14-1.99-1.14-3.49c0-.95.17-1.78.51-2.48a3.87 3.87 0 0 1 1.49-1.66c.65-.4 1.42-.59 2.32-.59 1.35 0 2.41.43 3.17 1.28zm-4.37 1.34c-.26.44-.38 1.15-.38 2.12s.13 1.69.38 2.13c.26.44.66.66 1.2.66s.95-.22 1.2-.67.39-1.16.39-2.14-.13-1.66-.39-2.1-.66-.66-1.2-.66-.95.22-1.2.66z"/><path d="m87.03,109.87h2.49l-.3,4.68h-1.87l-.32-4.68Z" fill="#e94266"/><use xlink:href="#C"/><path d="m109.93,122.28h-3.11l-2.99-8.88h2.86l1.72,6.86,1.81-6.86h2.68l-2.96,8.88Z"/><use xlink:href="#D"/><path d="M130.02 122.28c-.4 1.19-1 2.09-1.79 2.7s-1.85.95-3.18 1.03l-.3-1.87c.85-.11 1.48-.3 1.88-.57.41-.27.73-.7.98-1.29h-.92l-2.81-8.88h2.79l1.72 7.19 1.87-7.19h2.71l-2.96 8.88zm12.85-8.88l-.48 3.71h-1.67v-1.62c-.49.08-.93.34-1.3.79-.38.45-.67 1.01-.89 1.69v2.54h1.76v1.77h-5.57v-1.77h1.17v-5.35h-1.17v-1.76h3.2l.47 1.99c.32-.76.73-1.32 1.22-1.7s1.09-.56 1.81-.56c.54 0 1.03.09 1.47.27z"/><use xlink:href="#B" x="40.15" y="20.08"/><path d="M165.12 110.69h2.74v9.42h5.02l-.27 2.17h-7.49v-11.59zm13.31 2.72a2.68 2.68 0 0 1 1.26-.32c1.1 0 1.93.41 2.47 1.24s.81 1.99.81 3.48c0 .93-.14 1.75-.42 2.46s-.69 1.27-1.22 1.68c-.54.41-1.18.61-1.92.61-.45 0-.86-.1-1.24-.28s-.7-.46-.95-.8l-.1.8h-2.34v-12.41l2.64-.28v4.72a3.17 3.17 0 0 1 1.01-.89zm1.82 4.43c0-1.04-.12-1.76-.35-2.17s-.58-.62-1.04-.62c-.55 0-1.03.35-1.44 1.04v3.75c.35.54.78.8 1.3.8 1.01 0 1.52-.93 1.52-2.79z"/><use xlink:href="#D" x="70.26"/><path d="M210.3 122.28h-3.11l-2.99-8.88h2.86l1.72 6.86 1.81-6.86h2.68l-2.96 8.88zm13.32-12.13l-.74 1.72c-.57-.22-1.2-.33-1.89-.33-.52 0-.9.1-1.13.28-.23.19-.34.5-.34.94v1.19h2.89l-.3 1.84h-2.59v6.49h-2.63v-6.49h-1.87v-1.84h1.87v-1.27c0-.91.32-1.66.96-2.23s1.55-.86 2.72-.86 2.15.19 3.04.57zM84.95 141.07c-.86-1.04-1.3-2.56-1.3-4.54 0-1.28.23-2.38.7-3.3.47-.91 1.11-1.61 1.93-2.07s1.74-.7 2.75-.7c.79 0 1.48.13 2.07.38s1.12.61 1.61 1.06l-1.44 1.49c-.37-.32-.71-.56-1.03-.7a2.67 2.67 0 0 0-1.08-.22c-.84 0-1.49.33-1.97 1-.48.66-.72 1.69-.72 3.09 0 1.49.18 2.55.54 3.16s.93.92 1.72.92c.52 0 1-.12 1.44-.35v-2.66h-1.46l-.27-1.91h4.32v5.75c-1.27.78-2.62 1.17-4.05 1.17-1.65 0-2.91-.52-3.77-1.56zm13.96-.36c.76 0 1.52-.25 2.27-.74l1.05 1.44c-.43.38-.95.68-1.56.9a5.77 5.77 0 0 1-1.99.33c-.99 0-1.83-.2-2.53-.59-.69-.4-1.21-.95-1.56-1.66s-.53-1.53-.53-2.47.17-1.7.51-2.42a4.06 4.06 0 0 1 1.49-1.71c.65-.42 1.43-.63 2.33-.63.85 0 1.58.18 2.21.54.62.36 1.11.89 1.45 1.57.34.69.51 1.5.51 2.45 0 .37-.02.69-.05.95h-5.75c.17 1.35.88 2.02 2.14 2.02zm-1.66-5.24c-.29.35-.46.89-.52 1.61h3.26c-.02-1.43-.55-2.14-1.59-2.14-.48 0-.86.18-1.15.53z"/><use xlink:href="#E"/><use xlink:href="#F"/><use xlink:href="#B" x="20.07" y="40.15"/><path d="m149.58,140.05c.29.3.43.65.43,1.06s-.14.78-.43,1.08c-.29.29-.65.44-1.07.44s-.77-.15-1.06-.44c-.3-.3-.44-.66-.44-1.08s.15-.77.44-1.06.65-.44,1.06-.44.78.15,1.07.44Zm0-1.97h-2.12l-.35-7.33h2.81l-.33,7.33Z"/><path d="m157.29,129.94h2.49l-.3,4.68h-1.87l-.32-4.68Z" fill="#e94266"/><path d="M179.84 144.11h-2.46V128.8h2.46v15.31z" fill="#71c8e2"/><path d="M199.93 142.64c-1.14 0-1.99-.29-2.57-.87s-.86-1.39-.86-2.44v-4.03h-1.86v-1.82h1.86v-1.92l2.64-.32v2.24H202l-.27 1.82h-2.59v4.03c0 .43.1.75.3.94s.52.28.97.28c.56 0 1.08-.13 1.56-.4l.87 1.69c-.84.54-1.81.8-2.91.8z"/><use xlink:href="#E" x="100.37"/><use xlink:href="#G"/><path d="M94.69 156.17h7.26v2.04h-7.26v-2.04zm17.42 4.25l-.25 2.01h-7.31v-1.87l4.42-5.02h-4.05v-1.99h7.11v1.86l-4.35 5.02h4.43z"/><use xlink:href="#F" x="10.04" y="20.08"/><path d="M134.84 156.17h7.26v2.04h-7.26v-2.04zm17.41 4.25l-.25 2.01h-7.31v-1.87l4.42-5.02h-4.05v-1.99h7.11v1.86l-4.35 5.02h4.43z"/><use xlink:href="#G" x="70.26"/><path d="M164.95 156.17h7.26v2.04h-7.26v-2.04zm17.79-2.3c.3.42.44 1.08.44 1.98v6.57h-2.26v-6.27c0-.32-.03-.55-.09-.67s-.18-.18-.34-.18c-.31 0-.62.19-.92.59v6.54h-1.87v-6.27c0-.32-.03-.55-.09-.67s-.18-.18-.34-.18c-.31 0-.62.19-.92.59v6.54h-2.29v-8.88h1.92l.18.85c.29-.4.58-.69.86-.88a1.83 1.83 0 0 1 1-.28c.35 0 .64.09.87.26s.4.44.5.79c.6-.7 1.25-1.05 1.96-1.05.64 0 1.1.21 1.4.63z"/><path d="m199.91,164.18h-2.46v-15.31h2.46v15.31Z" fill="#71c8e2"/><use xlink:href="#C" x="-10.04" y="60.23"/><path d="M98.91 180.86c.76 0 1.52-.25 2.27-.74l1.05 1.44c-.43.38-.95.68-1.56.9a5.77 5.77 0 0 1-1.99.33c-.99 0-1.83-.2-2.53-.59-.69-.4-1.21-.95-1.56-1.66s-.53-1.53-.53-2.47.17-1.7.51-2.42a4.06 4.06 0 0 1 1.49-1.71c.65-.42 1.43-.63 2.33-.63.85 0 1.58.18 2.21.54.62.36 1.11.89 1.45 1.57.34.69.51 1.5.51 2.45 0 .37-.02.69-.05.95h-5.75c.17 1.35.88 2.02 2.14 2.02zm-1.66-5.24c-.29.35-.46.89-.52 1.61h3.26c-.02-1.43-.55-2.14-1.59-2.14-.48 0-.86.18-1.15.53zm14.96-5.53v12.41h-2.34l-.13-.97c-.27.38-.61.68-1.02.91s-.89.34-1.44.34c-1.07 0-1.88-.42-2.43-1.27s-.83-2.01-.83-3.48c0-.91.14-1.73.43-2.44s.7-1.27 1.24-1.67a3.05 3.05 0 0 1 1.87-.6c.8 0 1.47.28 2.01.84v-4.35l2.64.28zm-5.07 5.85c-.27.45-.4 1.16-.4 2.12 0 1.03.12 1.75.36 2.17s.58.63 1.01.63c.56 0 1.04-.34 1.46-1.02v-3.83c-.19-.25-.39-.43-.59-.55-.21-.12-.44-.18-.71-.18-.48 0-.85.23-1.12.68z"/><path d="m125.57,170.09h2.51l-.32,4.68h-1.87l-.32-4.68Zm3.2,0h2.53l-.32,4.68h-1.89l-.32-4.68Z" fill="#e94266"/><use xlink:href="#C" x="40.15" y="60.23"/><use xlink:href="#H"/><path d="M157.34 179.69c0 .41.08.71.23.88s.38.26.68.26c.27 0 .54-.09.82-.26s.51-.41.69-.71v-6.24h2.64v8.88h-2.31l-.12-1.04c-.29.42-.68.75-1.17.98s-1.01.34-1.56.34c-.84 0-1.47-.24-1.9-.73s-.64-1.16-.64-2.03v-6.41h2.64v6.07z"/><use xlink:href="#H" x="20.07"/><use xlink:href="#B" x="70.26" y="80.3"/><use xlink:href="#H" x="40.15"/><use xlink:href="#B" x="90.33" y="80.3"/><path d="m205.87,170.09h2.51l-.32,4.68h-1.87l-.32-4.68Zm3.2,0h2.53l-.32,4.68h-1.89l-.32-4.68Z" fill="#e94266"/><path d="m216.47,170.53l1.02-1.99,3.65,2.23-.72,1.34-3.95-1.57Z" fill="#71c8e2"/><defs ><path id="B" d="M113.01 93.84c-.58.23-1.43.35-2.56.35.58.26 1.01.56 1.3.92.28.36.43.81.43 1.37a2.66 2.66 0 0 1-.47 1.53c-.31.45-.75.81-1.32 1.06-.57.26-1.23.39-1.97.39a4.96 4.96 0 0 1-1.04-.1c-.09.04-.16.11-.21.21s-.08.19-.08.29a.44.44 0 0 0 .19.39c.13.09.39.14.78.14h1.47c.67 0 1.26.11 1.77.33s.91.53 1.19.92.42.83.42 1.32c0 .93-.4 1.65-1.21 2.17s-1.99.78-3.54.78c-1.1 0-1.97-.11-2.6-.34s-1.07-.55-1.32-.96-.38-.93-.38-1.56h2.34c0 .28.05.5.16.65.11.16.3.27.59.35s.71.12 1.27.12c.78 0 1.32-.09 1.61-.27.3-.18.44-.43.44-.75 0-.27-.11-.48-.33-.64s-.54-.24-.96-.24h-1.41c-.91 0-1.6-.16-2.06-.49s-.69-.75-.69-1.26c0-.33.09-.65.26-.95s.42-.54.73-.74c-.56-.3-.96-.66-1.2-1.06-.25-.41-.37-.9-.37-1.48 0-.66.17-1.23.5-1.72s.8-.87 1.4-1.13 1.29-.39 2.06-.39c.89.02 1.65-.06 2.28-.26.62-.19 1.26-.49 1.91-.88l.6 1.94zm-5.71 1.32c-.24.27-.36.63-.36 1.09 0 .48.12.85.37 1.12s.57.4.99.4c.43 0 .77-.13 1-.39s.35-.65.35-1.16c0-.97-.45-1.46-1.36-1.46-.42 0-.76.13-1 .4z"/><path id="C" d="M99.12 120.46c.26-.14.39-.35.39-.63 0-.2-.05-.36-.16-.49-.11-.12-.3-.24-.59-.36s-.74-.26-1.36-.43c-.89-.23-1.57-.56-2.04-.98s-.7-1-.7-1.73c0-.81.34-1.48 1.01-1.99s1.62-.77 2.84-.77c1.41 0 2.6.36 3.6 1.09l-1.05 1.56c-.81-.5-1.63-.75-2.46-.75-.43 0-.76.06-.96.17s-.31.28-.31.52c0 .16.05.29.16.39.11.11.31.22.6.33l1.33.42c.64.18 1.16.37 1.56.59s.72.5.95.85c.22.36.33.81.33 1.37a2.42 2.42 0 0 1-.57 1.61c-.38.45-.89.78-1.52 1a6.44 6.44 0 0 1-2.11.33c-.83 0-1.57-.12-2.24-.35s-1.24-.56-1.71-.99l1.32-1.49c.8.62 1.67.94 2.61.94.46 0 .82-.07 1.08-.21z"/><path id="D" d="M117.19 114.28c.75-.79 1.62-1.19 2.61-1.19.78 0 1.38.23 1.81.69.42.46.64 1.12.64 1.97v6.52h-2.64v-5.79c0-.54-.06-.91-.18-1.12s-.35-.32-.67-.32c-.27 0-.53.09-.78.28-.25.18-.51.45-.78.81v6.14h-2.64v-12.41l2.64-.27v4.68z"/><path id="E" d="m112.76,133.47l-.48,3.71h-1.67v-1.62c-.49.08-.93.34-1.3.79-.38.45-.67,1.01-.89,1.69v2.54h1.76v1.77h-5.57v-1.77h1.17v-5.35h-1.17v-1.76h3.2l.47,1.99c.32-.76.73-1.32,1.22-1.7s1.09-.56,1.81-.56c.54,0,1.03.09,1.47.27Z"/><path id="F" d="M114.55 133.47h2.31l.18 1.02c.4-.45.82-.78 1.26-1s.94-.33 1.5-.33c.77 0 1.37.23 1.8.7s.64 1.12.64 1.96v6.52h-2.64v-5.75c0-.56-.06-.94-.18-1.15s-.35-.32-.67-.32c-.27 0-.53.09-.78.26s-.51.43-.78.76v6.21h-2.64v-8.88z"/><path id="G" d="m92.05,160.59c.09.16.24.27.45.35l-.55,1.74c-.54-.06-.98-.18-1.34-.36-.36-.18-.64-.45-.84-.81-.33.39-.76.69-1.27.9s-1.06.31-1.64.31c-.91,0-1.65-.26-2.19-.78s-.82-1.19-.82-2.02c0-.96.38-1.7,1.14-2.23s1.82-.8,3.2-.8h1.19v-.32c0-.91-.59-1.37-1.76-1.37-.3,0-.68.04-1.13.13-.45.08-.89.2-1.31.34l-.6-1.76c.57-.21,1.16-.38,1.78-.49.62-.12,1.18-.18,1.68-.18,2.59,0,3.88,1.05,3.88,3.14v3.48c0,.32.04.56.13.72Zm-3.37-.03c.31-.17.54-.41.69-.71v-1.46h-.65c-1.43,0-2.14.45-2.14,1.34,0,.35.1.61.31.8.21.19.5.28.88.28.3,0,.61-.09.91-.26Z"/><path id="H" d="m152.63,173.95c.3.42.44,1.08.44,1.98v6.57h-2.26v-6.27c0-.32-.03-.55-.09-.67s-.18-.18-.34-.18c-.31,0-.62.19-.92.59v6.54h-1.87v-6.27c0-.32-.03-.55-.09-.67s-.18-.18-.34-.18c-.31,0-.62.19-.92.59v6.54h-2.29v-8.88h1.92l.18.85c.29-.4.58-.69.86-.88.28-.18.62-.28,1-.28.35,0,.64.09.87.26s.4.44.5.79c.6-.7,1.25-1.05,1.96-1.05.64,0,1.1.21,1.4.63Z"/></defs></svg>
            </div>
            <p class="text-2xl">
                LOG est un pur player du conseil et de l'expertise en technologies Cloud et culture DevOps.
                <br /><br />
                Créée en 2019 par trois experts Cloud et DevOps, Log est une société dynamique avec une croissance de plus de 50% par an.
            </p>
            <ul class="text-2xl list-inside list-[disclosure-closed] mb-12">
                <li class="my-6">
                    Notre mission ? Porter l'innovation au cœur des SI des grandes organisations en les guidant dans l'adoption des technologies Cloud et de la culture DevOps
                </li>
                <li class="my-6">
                    Nos savoirs-faires ? Une capacité d'accompagnement de bout en bout des projets de transformation : choix des stratégies, conduite des transformations, mise à l'échelle et accélération
                </li>
                <li class="my-6">
                    Nos stacks technologiques ? Cloud & DevOps (AWS, GCP, MS Azure, Kubernetes, Docker, Ansible, Terraform, Jenkins, Puppet, Chef, Packer, Gitlab, YAML, Python)
                </li>
                <li class="my-6">
                    Nos valeurs ? Expertise, Sur-mesure, Collaboration et Responsabilité
                </li>
                <li class="my-6">
                    Pourquoi nous rejoindre ? Chez LOG, nous sommes flexibles et agiles, et cela commence dès le processus de recrutement qui ne dépasse pas 15 jours ! Pour votre onboarding, nous prévoyons une véritable période d'intégration (entre 10 jours et 5 semaines selon le profil) au cours de laquelle vous ferez connaissance avec l'équipe, la SI interne et les méthodes de travail LOG. Une fois en mission, vous aurez deux entretiens par mois avec un manager coach (un déjeuner + une visio), des formations ainsi que des certifications illimitées (intégralement prises en charge par LOG), des meetups et des afterworks tous les mois avec l'équipe, des primes de cooptation allant de 1000€ à 3000€. Le télétravail fait partie de la culture d'entreprise. Vous bénéficierez également d'une excellente mutuelle, de tickets restaurant à 9€, de RTT.
                </li>
            </ul>
            <div class="text-center">
                <a class="bg-blue-log rounded-xl text-center font-extrabold text-white text-3xl px-28 py-3" href="mailto:email@log.consulting">Postulez</a>
            </div>
        </div>
    </div>
</BaseLayout>