---
import BaseLayout from "@layouts/BaseLayout.astro";
import Icon from "@components/ui/icon.astro";
import SectionTitle from "@components/ui/section_title.astro";

import { Image } from "astro:assets";
import HommeClavierReference from "@assets/Alex_loggez-vous.webp";
---

<BaseLayout title="Rejoignez-nous" description="Les offres d'emploi de LOG">
    <section class="relative w-full">
        <div class="absolute h-[32rem] top-[160px] lg:top-auto lg:bottom-0 left-[calc(50vw-170px)] lg:left-[calc(50vw-140px)]">
            <Image class="h-full w-auto" loading="eager" src={HommeClavierReference} alt="Homme avec un clavier" />
        </div>
        <div class="flex flex-col lg:flex-row min-h-[34rem]">
            <div class="flex w-full justify-center lg:justify-end items-center bg-black text-white">
                <div class="flex flex-col items-center lg:items-start font-extrabold text-5xl lg:text-7xl lg:py-24 px-6 pt-12 pb-80 lg:pr-[10vw]">
                    <h1 class="inline-flex gap-2">
                        <span class="sr-only">LOG</span>
                        <Icon className="h-16 lg:h-28 fill-blue-log" name="log" />
                        <span>GEZ</span>
                    </h1>
                    <h1>VOUS !</h1>
                </div>
            </div>
            <div class="flex w-full bg-gray-log text-black text-center lg:text-left">
                <div class="flex flex-col items-center gap-6 lg:gap-20 mx-auto lg:mx-[15vw] pt-48 pb-8 lg:py-24 z-0">
                    <p class="text-2xl mb-4 max-w-lg">
                        Vous avez envie de rejoindre une équipe dynamique, experte et engagée ?
                    </p>
                    <p class="font-bold text-3xl">
                        Rejoignez la tribu des loggers !
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="relative px-4 max-w-8xl mx-auto">
        <SectionTitle>
            <h1 class="text-center">Nos offres d'emploi</h1>
        </SectionTitle>
        <slot />
    </section>
</BaseLayout>