---
import ArticleBlogReference from '@static/article_blog.jpg';

interface Props {
    title: string;
    description: string;
    class?: string;
}
const { title, description, class: className }: Props = Astro.props;
---

<div class={className + " overflow-hidden flex-col max-w-sm border-2 border-black rounded-t-[20px] font-mono"}>
    <img src={ArticleBlogReference} alt="Image d'un article" />
    <p class="bg-red-log border-y-2 border-y-black text-white text-2xl px-8 py-2">{title}</p>
    <p class="text-xl px-4 pt-6 pb-3">{description}</p>
    <a class="font-bold text-xl px-4 pt-3 pb-6" href="#">En savoir plus</a>
</div>