---
import Icon from "@components/ui/icon.astro";
---

<footer class="relative w-full bottom-0 bg-black text-white">
    <div class="max-w-7xl mx-auto">
        <div class="py-10">
            <div class="relative flex flex-col lg:flex-row items-center lg:items-start gap-20">
                <div class="flex-none overflow-hidden">
                    <span class="sr-only">Page d'accueil du site de LOG</span>
                    <Icon className="fill-white w-auto h-20" name="log" />
                </div>
                <div class="relative flex flex-col gap-8 font-semibold text-xl">
                    <div class="flex flex-col">
                        <p>59 rue Beaubourg</p>
                        <p>75003 Paris</p>
                    </div>
                    <div class="flex flex-col gap-1 lg:gap-0">
                        <a class="decoration-2 hover:underline hover:underline-offset-4" href="mailto:contact@wearelog.fr">contact@wearelog.fr</a>
                        <a class="decoration-2 hover:underline hover:underline-offset-4" href="mailto:recrutement@wearelog.fr">recrutement@wearelog.fr</a>
                    </div>
                </div>
                <div class="relative flex items-center my-auto">
                    <div class="flex items-center gap-2 ml-4 pl-4">
                        <a class="block" href="https://www.linkedin.com/company/wearelog/" target="_blank">
                            <span class="sr-only">LinkedIn</span>
                            <Icon className="w-9 h-9 fill-white" name="linkedin" />
                        </a>
                        <a class="ml-1 block" href="https://www.instagram.com/log_inside/" target="_blank">
                            <span class="sr-only">Instagram</span>
                            <Icon className="w-9 h-9 fill-white" name="instagram" />
                        </a>
                        <a class="ml-1 block" href="https://www.youtube.com/watch?v=V_A7tOPuUBs" target="_blank">
                            <span class="sr-only">Youtube</span>
                            <Icon className="w-9 h-9 fill-white" name="youtube" />
                        </a>
                    </div>
                </div>
                <div class="hidden relative lg:flex items-center ml-20 font-semibold text-xl">
                    <ul class="marker:text-yellow-log list-inside list-[square]">
                        <li>
                            <a class="decoration-2 hover:underline hover:underline-offset-4" href="/expertise">
                                Expertise technique
                            </a>
                        </li>
                        <li>
                            <a class="decoration-2 hover:underline hover:underline-offset-4" href="/metiers">
                                Métiers
                            </a>
                        </li>
                        <li>
                            <a class="decoration-2 hover:underline hover:underline-offset-4" href="/engagements">
                                Engagement RSE
                            </a>
                        </li>
                        <li>
                            <a class="decoration-2 hover:underline hover:underline-offset-4" href="/nous-rejoindre">
                                Recrutement
                            </a>
                        </li>
                        <li>
                            <a class="decoration-2 hover:underline hover:underline-offset-4" href="mailto:contact@log.consulting">
                                Contact
                            </a>
                        </li>
                        <li>
                            <a class="decoration-2 hover:underline hover:underline-offset-4" href="/blog">
                                Blog
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>