---
import Icon from "@components/ui/icon.astro";
---

<div class="top-0 w-full flex-none">
    <div class="max-w-7xl mx-auto">
        <div class="py-4 mx-4">
            <div class="relative flex justify-between items-start lg:items-center">
                <a class="flex-none overflow-hidden" href="/">
                    <span class="sr-only">Page d'accueil du site de LOG</span>
                    <Icon className="w-auto h-20" name="log" />
                </a>

                <div class="relative flex items-center ml-auto">
                    <div class="hidden lg:block relative bg-white">
                        <ul class="flex flex-row text-lg space-x-8 leading-8 text-center">
                            <li>
                                <a class="hover:text-red-log" href="/expertise">Expertise</a>
                            </li>
                            <li>
                                <a class="hover:text-blue-log" href="/metiers">Métiers</a>
                            </li>
                            <li>
                                <a class="hover:text-green-log" href="/engagements">Engagements</a>
                            </li>
                            <li>
                                <a class="hover:text-yellow-log" href="/les-loggers">Les Loggers</a>
                            </li>
                            <li>
                                <a class="hover:text-gray-dark" href="/nous-rejoindre">Nous rejoindre</a>
                            </li>
                            <li>
                                <a class="hover:text-gray-dark" href="/blog">Blog</a>
                            </li>
                        </ul>
                    </div>
                    <details class="group lg:hidden">
                        <summary class="list-none cursor-pointer">
                            <span class="sr-only">Menu de navigation</span>
                            <div class="flex flex-col pt-2.5">
                                <span class="block relative mb-4 group-open:mb-0 bg-red-log h-2 w-16 group-open:top-4 group-open:-rotate-45"></span>
                                <span class="block relative group-open:invisible mb-4 bg-yellow-log h-2 w-16"></span>
                                <span class="block relative bg-blue-log h-2 w-16 group-open:bottom-4 group-open:rotate-45"></span>
                            </div>
                        </summary>
                        <div class="absolute right-0 top-20 z-40 bg-white border border-black rounded-lg px-4">
                            <ul class="flex flex-col text-lg space-y-2 leading-8 text-center">
                                <li>
                                    <a class="hover:text-red-log" href="/expertise">Expertise</a>
                                </li>
                                <li>
                                    <a class="hover:text-blue-log" href="/metiers">Métiers</a>
                                </li>
                                <li>
                                    <a class="hover:text-green-log" href="/engagements">Engagements</a>
                                </li>
                                <li>
                                    <a class="hover:text-yellow-log" href="/les-loggers">Les Loggers</a>
                                </li>
                                <li>
                                    <a class="hover:text-gray-dark" href="/nous-rejoindre">Nous rejoindre</a>
                                </li>
                                <li>
                                    <a class="hover:text-gray-dark" href="/blog">Blog</a>
                                </li>
                            </ul>
                        </div>
                    </details>

                    <div class="hidden lg:flex items-center ml-4 pl-4">
                        <a class="block" href="https://www.linkedin.com/company/wearelog/" target="_blank">
                            <span class="sr-only">LinkedIn</span>
                            <Icon className="w-6 h-6" name="linkedin" />
                        </a>
                        <a class="ml-1 block" href="https://www.instagram.com/log_inside/", target="_blank">
                            <span class="sr-only">Instagram</span>
                            <Icon className="w-6 h-6" name="instagram" />
                        </a>
                        <a class="ml-1 block" href="https://www.youtube.com/watch?v=V_A7tOPuUBs", target="_blank">
                            <span class="sr-only">Youtube</span>
                            <Icon className="w-6 h-6" name="youtube" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>