---
interface Props {
    name: string;
    position: string;
    pictureReference?: string;
}
const { name, position, pictureReference = "#" }: Props = Astro.props;
---

<div class="snap-start shrink-0 origin-center scale-100 transition-transform duration-500 flex flex-col">
    <a class="bg-blue-log w-64 h-64 mb-10 rounded-[24px] border-2 border-black" href="#">
        <img src={pictureReference} alt="Photo d'un logger">
    </a>
    <h2 class="font-bold text-2xl">{name}</h2>
    <p class="text-xl">{position}</p>
</div>